/Kompoprojekt/nbproject/private/
/komposAbgabe/nbproject/private/
/komposAbgabe/build/
/AufgabeLetzte/build/
/AufgabeLetzte/dist/
/AufgabeLetzte/nbproject/private/
/KompoprojektJoo/build/
/KompoprojektJoo/dist/
/KompoprojektJoo/nbproject/private/